/*container principal */

.container{
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align:center;

}

/* título da lista */
.title{
    font-size: 24px;
    color: #333;
    margin-bottom:15px;
}

/* input e botão dentro do formulário */

.inputContainer{
    display:flex;
    gap:10px;
    margin-bottom: 20px;
}

.input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px soild #EEE;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    background: #FFF;
    color: #333;
}

.input:focus{
    border-color: #0056b3;
}

/* botão */

.button{
    background: #007bff;
    color: #FFF;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3;
    font-size: 16px;

}

.button:hover{
    background: #0056b3;
}

/* lista de tarefas */

.taskList{
    list-style: none;
    padding: 0;
}

.taskItem{
    background: #f8f9fa;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    transition: backgrouund 0.3s;
    color: #333;
}

.taskItem:hover{
    background: #e9ecef;
}